@use './../colors' as colors;
@use './../breakpoints' as breakpoints;

.root-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: colors.$black;
  color: colors.$white;
  text-align: center;
  font-size: 0.75rem;
  padding: 3.75rem 7.5rem;
}

@media only screen and (min-width: breakpoints.$lg) {
  .root-footer {
    gap: 1.785rem;
    font-size: 1.5rem;
  }
}
