@use './../colors' as colors;

.root-header {
  $padding-y: 1.25rem;
  $height: calc(2.93rem + calc(2 * $padding-y));

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.625rem;
  height: $height;
  max-height: $height;
  padding: $padding-y var(--padding-x-page) 0 var(--padding-x-page);

  & > .logo {
    max-height: 100%;
    height: 100%;
    width: auto;
  }

  & > nav > ul {
    display: flex;
    gap: 1.625rem;

    a {
      font-size: 0.75rem;
      text-transform: uppercase;
      color: colors.$red;
      white-space: nowrap;
    }
  }
}
