@use './../breakpoints' as breakpoints;

body,
html {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  --padding-y: 1.6875rem;
  padding: var(--padding-y) var(--padding-x-page);
  flex-grow: 1;
}

@media only screen and (min-width: breakpoints.$lg) {
  main {
    --padding-y: 3.125rem;
  }
}
