@use './../colors' as colors;
@use './../breakpoints' as breakpoints;

.hero {
  border-radius: 0.625rem;
  height: 6.9375rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: colors.$loadingGray;

  &-content {
    color: colors.$white;
    background: rgba(colors.$black, 0.3);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;

    p {
      max-width: 90%;
      font-size: 1.5rem;
    }
  }
}

@media only screen and (min-width: breakpoints.$lg) {
  .hero {
    height: 13.9375rem;

    &-content {
      align-items: center;

      p {
        max-width: 13.5625rem;
        max-width: initial;
        text-align: center;
        font-size: 3rem;
      }
    }
  }
}
