@use './../colors' as colors;
@use './../breakpoints' as breakpoints;

.not-found {
  display: flex;
  flex-direction: column;
  gap: 7.0625rem;
  color: colors.$red;
  text-align: center;

  &-code {
    font-size: 6rem;
    font-weight: 700;
  }

  &-message {
    font-size: 1.125rem;
  }

  & > a {
    font-size: 0.875rem;
    text-decoration: underline;
  }
}

@media only screen and (min-width: breakpoints.$lg) {
  .not-found {
    gap: 8.6875rem;

    &-code {
      font-size: 18rem;
    }

    &-message {
      font-size: 2.25rem;
    }

    & > a {
      font-size: 1.125rem;
    }
  }
}
