@mixin y($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}

/* could use padding-inline, but still experimental */
@mixin x($padding) {
  padding-left: $padding;
  padding-right: $padding;
}
